/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-title-color: #FFC2E6;
  --page-bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --title-text-color: #353430;
  --paragraph-text-color: #353430;
  --stroke-color: #353430;
  --outline-on-focus-visible: #353430;
  --outline-on-hover-color: rgba(50, 49, 45, 0.4);
  --page-bg: url(/images/cover-image-light.png);
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}


.theme-light .header__rec-mark {
  display: none;
}

.theme-light .hard-to-focus__title {
  color: var(--title-text-color);
}

.theme-light .no-concentration__title {
  color: var(--title-text-color);
}

.theme-light .how-to-concentrate__title {
  color: var(--title-text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-title-color: #FFC2E6;
    --page-bg-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --title-text-color: #353430;
    --paragraph-text-color: #353430;
    --stroke-color: #353430;
    --outline-on-focus-visible: #353430;
    --outline-on-hover-color: rgba(50, 49, 45, 0.4);
    --page-bg: url(/images/cover-image-light.png);
  }

  .theme-auto .header__rec-mark {
    display: none;
  }

  @media (width >=1024px) {
    .header__theme-menu-button_type_light:hover {
      outline: 1px solid var(--outline-on-hover-color);
    }

    .header__theme-menu-button_type_light:focus-visible {
      outline: none;
      border-bottom: 1px solid var(--outline-on-focus-visible);
    }

    .header__theme-menu-button_type_auto:hover {
      outline: 1px solid var(--outline-on-hover-color);
    }

    .header__theme-menu-button_type_auto:focus-visible {
      outline: none;
      border-bottom: 1px solid var(--outline-on-focus-visible);
    }

    .theme-light .text-link:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    .theme-light .text-link:focus-visible {
      outline: 1px solid var(--outline-on-focus-visible);
    }

    .theme-auto .text-link:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    .theme-auto .text-link:focus-visible {
      outline: 1px solid var(--outline-on-focus-visible);
    }
  }
}